$cn: 'bottom-nav';

$cn-h: $bottom-bar-h;
$cn-bgc: $bar-bgc;
$cn-fs: 12px;
$cn-c: $nav-c;

.#{$cn} {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $cn-h;
  display: flex;
  align-items: center;
  background-color: $cn-bgc;
  border-top: 1px solid darken($cn-bgc, 5%);
  font-size: $cn-fs;

  &__item {
    flex: 0 0 25%;
    height: $cn-h;
  }

  &__item-link {
    height: $cn-h;
    color: $cn-c;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      text-decoration: none;
    }

    &.is-active {
      color: $primary;
      font-weight: bold;
    }

    svg {
      margin-bottom: 5px;
    }
  }

  body.dark-mode & {
    $cn-bgc: $bar-bgc-dm;
    $cn-c: $nav-c-dm;

    background-color: $cn-bgc;
    border-top: 1px solid lighten($cn-bgc, 5%);

    &__item-link {
      color: $cn-c;

      &.is-active {
        color: lighten($primary, 20%);
      }
    }
  }
}
