$cn: 'bottom-nav';

$cn-h: 66px;
$cn-bgc: #f8f8f8;
$cn-fs: 12px;
$cn-fc: #747474;

.#{$cn} {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $cn-h;
  display: flex;
  align-items: center;
  background-color: $cn-bgc;
  border-top: 1px solid darken($cn-bgc, 5%);
  font-size: $cn-fs;

  &__item {
    flex: 0 0 25%;
    height: $cn-h;
  }

  &__item-link {
    height: $cn-h;
    color: $cn-fc;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      text-decoration: none;
    }

    &.is-active {
      color: $primary;
      font-weight: bold;
    }

    svg {
      margin-bottom: 5px;
    }
  }
}
