$cn: 'settings';

.#{$cn} {
  background: $primary-gradient;
  min-height: 100vh;
  color: #fff;
  // overflow-y: auto;
  // max-height: calc(100vh - #{$bottom-bar-h} - #{$header-sm-h});

  > .container {
    padding-top: $gutter;

    > .row {
      margin-bottom: $gutter * 2;
    }
  }

  body.dark-mode & {
    background: none;
  }
}
