$primary: #6436ad;
$body-bg: #fff;
$body-bg-dm: #000;
$body-color: #141414;
$body-color-dm: #fff;

$t-speed: 0.25s;
$t-style: ease-in-out;
$t: all $t-speed $t-style;

$primary-gradient: linear-gradient(-35deg, darken(#480c91, 15%) 0%, darken(#7116e0, 15%) 100%);
$btn-primary-gradient: linear-gradient(0deg, #6436ad 0%, #9464d9 100%);

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$form-control-h: 64px;

$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

$bottom-bar-h: 64px;
$bar-bgc: #f8f8f8;
$bar-bgc-dm: #151515;

$header-h: 84px;
$header-sm-h: 32px;
$header-c: #747474;
$header-c-dm: #afafaf;

$nav-c: #747474;
$nav-c-dm: #afafaf;
