$primary: #6436ad;
$body-bg: #fff;
$body-color: #141414;

$t-speed: 0.25s;
$t-style: ease-in-out;
$t: all $t-speed $t-style;

$primary-gradient: linear-gradient(-35deg, darken(#480c91, 15%) 0%, darken(#7116e0, 15%) 100%);
$btn-primary-gradient: linear-gradient(0deg, #6436ad 0%, #9464d9 100%);

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol';

$form-control-h: 64px;

$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

$bottom-bar-h: 64px;
